

.mainContainer {
    width: 95%;
    height: 50px;
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.div3 {
    width: 20%;
    display: flex;
    margin: 0px 15px;
    justify-content: space-between;
}